*{
    padding: 0px;
    margin: 0px;
}
.myMargin{
    margin: 25px;
}
.new-margin{
    margin-top: 30%;
}
header{
    background-color: brown;
    /* width: 100%; */
}
.nav-item {
    color: green;
}
.row{
    align: center;
    margin: 10px;
}
.container{
    margin-top:8%; 
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    min-height: 350px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.forbtn{
    align-content:center;
}
.name p{
margin-top:2%; 
padding: 5%;
text-align: center;
}